{
  "extends": [
    "next",
    "next/core-web-vitals"
  ],
  "rules": {
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ],
    "semi": [
      "error",
      "never"
    ],
    "indent": [
      "error",
      2
    ],
    "no-multi-spaces": [
      "error"
    ],
    "comma-style": [
      "error",
      "last"
    ]
  }
}
